body{
    margin: 0px 20px;
}
.section{
   margin-top: 45px;
}
.content{
    width:75%;
   margin-left: 12%;
}
.header{
   overflow: hidden;
}
.nav_left{
   float: left;
   font-size: 20px;
}
.nav_left p{
   margin-left: 20px;
}
.nav_right{
   float: right;
}
.nav_right ul li{
   float: left;
   padding-right: 10px;
   list-style: none;
}
.banner{
   background-color: #EEEEEE;
}
.banner_content{
   padding: 20px;
   width:25%
}
.banner_content h2{
   margin-top: 0px;
}
.block_image{
   width: 90%;
   height: 100px;
   background: #EEEEEE;
   margin-left: 5%;
}
.block_section{
   overflow: hidden;
   margin-top: 10px;
   margin-left: 5%;
}
.block{
   float: left;
   width: 30%;
   padding: 10px;
   display: block;
   text-align: center;
}

.block a{
color:#000;
}